<!-- Generated template for the RiemannCanvasComponent component -->
<div>
  <canvas (touchstart)='handleMouseDown($event)' (touchend)='handleMouseUp()' (touchmove)='handleMouseMove($event)' (mouseover)='handleMouseOver($event)' (mousedown)='handleMouseDown($event,false)' (mouseup)='handleMouseUp()' (mousemove)='handleMouseMove($event,false)' #canvas></canvas>
</div>

<button ion-button (click)='clearCanvas()'>Clear</button>
<br />Total area of rectangles: {{ totalArea }}
<br />{{ message }}
<form (ngSubmit)="guessArea()">
  <ion-item>
    <ion-label>Area of Region?</ion-label>
    <ion-input type="text" [(ngModel)]="predArea" name="area"></ion-input>
  </ion-item>
  <button ion-button type="submit" block>Submit</button>
</form>
{{ predArea }}
{{ actArea }}
{{ predError }}
{{ nextLevel }}
<ion-row>
	<button ion-button navPop>Back to Category</button>
</ion-row>

