<!-- Generated template for the MultiChoiceComponent component -->
<ion-grid>
	  <ion-row *ngFor='let question of questions; let i = index'>
	  	<ion-col>
	    	<h2 [style.visibility]='qDisp[i]'>$\${{ question }}$\$</h2>
		</ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col *ngFor='let answer of answers; let i = index'>
	      <button ion-button (click)="newRandom(i);">$\${{ answer }}$\$</button>
	    </ion-col>
	  </ion-row>
	  <ion-row>
	    <progress-bar [bWidth]='bWidth'></progress-bar>
	  </ion-row>
	  <ion-row>
	    <button ion-button [navPush]="catName">Back to Trig</button>
	  </ion-row>
</ion-grid> 
