<!-- Generated template for the MultiChoiceComponent component -->
<ion-grid>
	  <ion-row>
	  	<ion-col>
	    	<h2><mathjax-latex [equation]='question'></mathjax-latex></h2>
		</ion-col>
		<ion-col>
		</ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col *ngFor='let answer of answers; let i = index'>
	      <button ion-button (click)="newRandom(i);"><mathjax-latex [equation]='answer'></mathjax-latex></button>
	    </ion-col>
	  </ion-row>
	  <ion-row>
	    <progress-bar [bWidth]='bWidth'></progress-bar>
	  </ion-row>
	  <ion-row>
	    <button ion-button [navPush]="catName">Back to Trig</button>
	  </ion-row>
</ion-grid> 
