<!-- Generated template for the OptimizationCanvasComponent component -->

<div>
  <canvas (touchstart)='handleMouseDown($event)' (touchend)='handleMouseUp()' (touchmove)='handleMouseMove($event)' (mouseover)='handleMouseOver($event)' (mousedown)='handleMouseDown($event,false)' (mouseup)='handleMouseUp()' (mousemove)='handleMouseMove($event,false)' #canvas></canvas>
</div>
<ion-grid *ngIf='optType=="fold"'>
	Volume: {{ volume }}
	<br />
	A piece of paper is 8.5 inches by 11 inches. Fold the sides up to create an open box of the largest possible volume.
	<br />
	Use the model above to estimate the maximum volume. What is the height of the box with maximum volume?
	<br />
	Now use Calculus to precisely determine the height that maximizes the volume of the box. What is the independent variable?
	What is the volume of the box in terms of the height?
	What is the derivative of this volume function?
	When does this derivative equal 0?
	<br />
	Now let's use that information to answer a more difficult question. Imagine we don't know the width of the piece of paper. The length of the paper is still 11 inches, but the width is now w. What height maximizes the volume of the box (the maximal height is a function involving w just like before the maximal height involved 8.5, but now we cannot simplify because w is not known)?
	<br />
	Now let's take it one step further. Imagine we don't know the width or length of the piece of paper. So the length is l and the width is now w. What height maximizes the volume of the box (the maximal height is now a function involving w and l)?
	<br />
	Finally let's add in a further constraint so that we can get a numerical answer. Imagine we don't know the width or length of the piece of paper, but we do know the area is 100 in^2. So the length is l and the width is now w, but do we know how to find w in terms of l?. What height maximizes the volume of the box (the maximal height is now a function involving just one of w or l)? Now that we have this optimization problem can you use that answer to determine the width of the paper that maximizes the volume when the paper is folded into the maximal box?
	
</ion-grid>